<!DOCTYPE html>
<html>
  <head>
    <title>
        ProyectoIV resultados de la liga
      </title>
  </head>
  <body>
    <header>
      <h1>
        ProyectoIV resultados de la liga
      </h1>
      <ul>
        <li><%= link_to 'Inicio', root_path%></li>
        <li><%= link_to 'Equipos', equipos_path%></li>
        <li><%= link_to 'Clasificacion', clasificacion_path%></li>
        <li><%= link_to 'jornada', jornada_path%></li>
      </ul>
    </header>
    <ul>
    <%  html=open("https://resultados.as.com/resultados/futbol/primera/equipos/").read 
    #uri = URI.parse("https://resultados.as.com/resultados/futbol/primera/equipos/")
   # html = open("https://resultados.as.com/resultados/futbol/primera/equipos/")
    doc=Nokogiri::HTML(html)
    cont=0
      array=Array.new(20)
      doc.search('.escudo').map do |element|
        cadena=element.inner_text
        array[cont]=cadena

        cont=cont+1
      end
    
     var=0
          while var < array.length %>
              <li> <%=array[var]%></li>
              <% var+=1
        end %>
        </ul>
    <footer>
      
    </footer>
  </body>
</html>
